/* CONTACT FORM */
.slide-contact {
  background: linear-gradient(135deg, #19191a, #171818);
  text-align: center;
}

form {
  max-width: 450px;
  margin: 30px auto;
}

form input,
form textarea {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  font-size: 1.1rem;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
}

form button {
  width: 100%;
  padding: 14px;
  font-size: 1.2rem;
  background: #0a66c2;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

form button:hover {
  background: #084a94;
}
